.goal-list-item {
    display: grid;
    grid-template-columns: 30px auto 30px;
    row-gap: 20px;
    column-gap: 15px;
    padding: 18px;

    border: 2px solid var(--black);
}

.goal-list-item__title {
    margin: 0;

    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.goal-list-item__link {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--black);
}

.goal-list-item__link .icon {
    width: 30px;
    height: 30px;

    transition: transform 0.2s ease 0s;
}

.goal-list-item__link:hover .icon {
    transform: translateX(5px);
}

.goal-list-item__amount-input {
    grid-column: 2 / -2;
}
