.page,
.page__body {
    margin: 0;
}

.page__body {
    cursor: default;

    color: var(--black);

    font-family: var(--font-primary);
    font-size: 14px;
    line-height: 22px;
}

.page__main {
    padding-top: 60px;
    padding-bottom: 60px;
}
