a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

*:not(input):focus-visible {
    outline: 3px solid var(--blue);
    outline-offset: 2px;
}

#main-content {
    outline: none;
}
